{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AgentHome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/agentHome">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href='/purchaseTickets'>Purchase Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/viewMyFlights">view flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/searchForFlights">Searching Flights</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/commission">View My Comission</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/topCustomers">Top Customers</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


 <div class="content">
        <div class="title">My Commission</div>
        <form class="spending" action="/commission" method="POST">
            <div class="inputBlock">
                <label class="dateLabel" for="from_date">from date: </label>
                <input type="date" name = "from_date" required/></br>   
            </div>         
            <div class="inputBlock">   
                <label class="dateLabel" for="to_date">to date: </label>
                <input type="date" name = "to_date" required/></br>
            </div> 
            <input type="submit" class="dateSubmit" value="view commission within this range"> <br>
        </form>

        {% if error %}
        <div class="spending totalSpending">{{error}}</div>
        {% else %}

        {% if from_date %}
        <div class="spending totalSpending">My total commission from {{from_date}} to {{to_date}} is {{total_price}}.</div>
        <div class="spending totalSpending">My average commission per ticket from {{from_date}} to {{to_date}} is {{average_commission}}.</div>
        <div class="spending totalSpending">My total sale from {{from_date}} to {{to_date}} is {{ticket_num}}.</div>
        {% else %}
        <div class="spending totalSpending">My total commission in last 30 days is {{total_price}}.</div>
        <div class="spending totalSpending">My average commission per ticket in last 30 days is {{average_commission}}.</div>
        <div class="spending totalSpending">My total sale in last 30 days is {{ticket_num}}.</div>
        {% endif %}

        {% endif %}
 </div>

{% endblock %}