{% extends 'layout.html' %}

{% block body %}


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CustomerHome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/customerHome" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/viewMyFlights">View My Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/searchForFlights">Search for Flights</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/comments">Give Comments</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/trackMySpending">Track My Spending</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="content">
        <div class="title">Past Flights</div>
            <table id="previousFlights">
                <th> Airline Name </th>
                <th> Flight Number </th>
                <th> Departure Time </th>
                <th> Arrival Time </th>
                <th> Departure from </th>
                <th> Departure City </th>
                <th> Arrive at </th>
                <th> Arrival City </th>
                <th> Price </th>
                {% for line in flights %}
                <tr>
                    <td class="past_flight">{{line['airline_name']}}</td>
                    <td class="past_flight">{{line['flight_num']}}</td>
                    <td class="past_flight">{{line['dept_time']}}</td>
                    <td class="past_flight">{{line['arr_time']}}</td>
                    <td class="past_flight">{{line['dept_from']}}</td>
                    <td class="past_flight">{{line['city']}}</td>
                    <td class="past_flight">{{line['arr_at']}}</td>
                    <td class="past_flight">{{line['B.city']}}</td>
                    <td class="past_flight">{{line['sold_price']}}</td>
                    <td class="past_flight"><a href="/giveComments/{{line['ticket_id']}}">Comment</a></td>
                </tr>
                {% endfor %}
            </table>
    </div>

{% endblock %}
