{% extends 'layout.html' %}

{% block body %}



    {%if role == 'agent' %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AgentHome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/agentHome">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href='/purchaseTickets'>Purchase Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/viewMyFlights">view flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/searchForFlights">Searching Flights</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/commission">View My Comission</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/topCustomers">Top Customers</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    {% else %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CustomerHome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/customerHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewMyFlights">View My Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/searchForFlights">Search for Flights</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/trackMySpending" >Track My Spending</a>
        </li>
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {% endif %}

    <div class="content">
        <div class="title">Search for Flights</div>
        <div id="searchBlock">

            <form action="/purchaseTickets" class="searchForm" method="POST" onsubmit="return checkForm();">
                {%if role == 'agent' %}
                <div class="inputBlock">
                    <label for="customer_email">Customer email:</label>
                    <input type="text" name = "customer_email" placeholder="please enter the email of your customer" required/> </br>
                </div>
                {% endif %}
                <div class="inputBlock">
                    <label for="airline_name">Airline Name:</label>
                    <input type="text" name = "airline_name" placeholder="enter the airline name" required/> </br>
                </div>
                <div class="inputBlock">
                    <label for="flight_num">Flight number:</label>
                    <input type="text" name = "flight_num" placeholder="please enter the flight number" required/> </br>
                </div>


                <input class='dateSubmit' type="submit" value = "Purchase"> <br>
            </form>
        </div>

        {% if flight %}

            <h2>This is the flight you bought</h2>

            <table>
                <th> Airline Name </th>
                <th> Flight Number </th>
                <th> Departure Time </th>
                <th> Arrival Time </th>
                <th> Departure from </th>
                <th> Arrive at </th>
                <th> Price </th>


                <tr>
                    <td class="dept_flight">{{flight['airline_name']}}</td>
                    <td class="dept_flight">{{flight['flight_num']}}</td>
                    <td class="dept_flight">{{flight['departure_time']}}</td>
                    <td class="dept_flight">{{flight['arrival_time']}}</td>
                    <td class="dept_flight">{{flight['departure_airport']}}</td>
                    <td class="dept_flight">{{flight['arrival_airport']}}</td>
                    <td class="dept_flight">{{flight['price']}}</td>


                </tr>

            </table>

        {% if returnFlights %}
            <h2>Return Flights</h2>
            <table>

            {% for line in returnFlights %}
                <tr>
                    <td class="return_flight">{{line['airline_name']}}</td>
                    <td class="return_flight">{{line['flight_num']}}</td>
                    <td class="return_flight">{{line['departure_time']}}</td>
                    <td class="return_flight">{{line['arrival_time']}}</td>
                    <td class="return_flight">{{line['departure_airport']}}</td>
                    <td class="return_flight">{{line['airport_city']}}</td>
                    <td class="return_flight">{{line['arrival_airport']}}</td>
                    <td class="return_flight">{{line['B.airport_city']}}</td>
                    <td class="return_flight">{{line['price']}}</td>

                </tr>
            {% endfor %}
            </table>
        {% endif %}


        <a href="/purchaseTickets" class="option">Purchase Tickets</a>

        {% endif %}
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock %}