{% extends 'layout.html' %}


{% block body %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Register</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
    </div>
    </nav>

<div class="wrapper">
<!--    <select name="role" id = "mySelect" onchange="changeRole()">-->
<!--        <option value="customer" selected>Customer</option>-->
<!--        <option value="agent">Booking Agent</option>-->
<!--        <option value="staff">Airline Staff</option>-->
<!--    </select>-->

    <div class="container">
  <div class="row">
    <div class="col-sm">
    <h5>Customer Register</h5>
    <form action="/registerCustomer" id = "customerForm" method="POST" onsubmit="return checkForm();">
    <div class="inputBlock">
        <label for="email">email:</label>
        <input type="text" name = "email"/> </br>
    </div>
    <div class="inputBlock">
        <label for="password">password:</label>
        <input type="password" name = "password"/></br>
    </div>
    <div class="inputBlock">
        <label for="name">name:</label>
        <input type="text" name = "name"/> </br>
    </div>
    <div class="inputBlock">
        <label for="building_number">building number:</label>
        <input type="text" name = "building_number"/> </br>
    </div>
    <div class="inputBlock">
        <label for="street">street:</label>
        <input type="text" name = "street"/> </br>
    </div>
    <div class="inputBlock">
        <label for="city">city:</label>
        <input type="text" name = "city" /> </br>
    </div>
    <div class="inputBlock">
        <label for="state">state:</label>
        <input type="text" name = "state"/> </br>
    </div>
    <div class="inputBlock">
        <label for="phone_number">phone number:</label>
        <input type="text" name = "phone_number"/> </br>
    </div>
    <div class="inputBlock">
        <label for="passport_number">passport number:</label>
        <input type="text" name = "passport_number" /> </br>
    </div>
    <div class="inputBlock">
        <label for="passport_expiration">passport expiration date:</label>
        <input type="date" name = "passport_expiration" /> </br>
    </div>
    <div class="inputBlock">
        <label for="passport_country">passport country</label>
        <input type="text" name = "passport_country"/> </br>
    </div>
    <div class="inputBlock">
        <label for="date_of_birth">date of birth:</label>
        <input type="date" name = "date_of_birth"/> </br>
    </div>
        <input class="registerButton" type="submit" value ="Register" />
    </form>
        </div>

      <div class="col-sm">
    <h5>Agent Register</h5>
    <form action="/registerAuthAgent" id = "agentForm" method="POST" onsubmit="return checkForm();">
    <div class="inputBlock">
        <label for="email">email:</label>
        <input type="text" name = "email" /> </br>
    </div>
    <div class="inputBlock">
        <label for="password">password:</label>
        <input type="password" name = "password" /></br>
    </div>
    <div class="inputBlock">
        <label for="id">ID:</label>
        <input type="text" name = "id" /> </br>
    </div>

    <input class="registerButton" type="submit" value = "Register" />

    </form>
          </div>


      <div class="col-sm">
    <h5>Staff Register</h5>
    <form action="/registerAuthStaff" id = "staffForm" method="POST" onsubmit="return checkForm();">
        <div class="inputBlock">
            <label for="username">username:</label>
            <input type="text" name = "username" /> </br>
        </div>
        <div class="inputBlock">
            <label for="password">password:</label>
            <input type="password" name = "password" /></br>
        </div>
        <div class="inputBlock">
                <label for="first_name">first name:</label>
                <input type="text" name = "first_name"/> </br>
         </div>
        <div class="inputBlock">
                <label for="last_name">last name:</label>
                <input type="text" name = "last_name"/> </br>
        </div>
        <div class="inputBlock">
            <label for="DOB">date of birth:</label>
            <input type="date" name = "DOB"/> </br>
        </div>
        <div class="inputBlock">
                <label for="airline_name">airline name:</label>
                <input type="text" name = "airline_name"/> </br>
            </div>
    </form>
          </div>
      </div>
</div>

    {% if error %}
            <p><strong>Error:</strong> {{error}}</p>
    {% endif %}
    <a href="/" class="back">Back</a>
</div>
    <script src="{{ url_for('static',filename='js/register.js')}}"></script>
{% endblock %}