{% extends 'layout.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topBar">
    <div class="logo">Airline Ticket System</div>
</div>

<div class="line"></div>
<div class="container">
    {%if role == 'agent' %}
    <div class="sidebar">
        <a href="/agentHome" class="option">Home</a>
        <a href="/viewMyFlights" class="option">View My Flights</a>
        <a href="/searchForFlights" class="option">Search for Flights</a>
        <a href="/commission" class="option">View My Comission</a>
        <a href="/topCustomers" class="option">Top Customers</a>
        <a href="/logout" class="option">Log out</a>
    </div>
    {% else %}
    <div class="sidebar">
        <a href="/customerHome" class="option">Home</a>
        <a href="/viewMyFlights" class="option">View My Flights</a>
        <a href="/searchForFlights" class="option">Search for Flights</a>
        <a href="/comments" class="option">Give Comments</a>
        <a href="/trackMySpending" class="option">Track My Spending</a>
        <a href="/logout" class="option">Log out</a>
    </div>
    {% endif %}

    <div class="content">
        <div class="title">Search for Flights</div>
        <div id="searchBlock">

            <form action="/searchFlightsResults" class="searchForm" method="POST" onsubmit="return checkForm();">
                <div class="inputBlock">
                    <label for="departure_airport">Departure:</label>
                    <input type="text" name = "departure_airport" placeholder="enter a city/airport" required/> </br>
                </div>
                <div class="inputBlock">
                    <label for="arrival_airport">destination:</label>
                    <input type="text" name = "arrival_airport" placeholder="enter a city/airport" required/></br>
                </div>
                <div class="inputBlock">
                    <label for="dept_date">departure date:</label>
                    <input type="date" name = "dept_date" required/></br>
                </div>
                <div class="inputBlock" id="return_date">
                    <label for="return_date">return date:</label>
                    <input type="date" name = "return_date"/></br>
                </div>
                <input class='dateSubmit' type="submit" value = "Search"> <br>
            </form>
        </div>
        {% if flights %}

            <h2>departing flights</h2>

            <table>
                <th> Airline Name </th>
                <th> Flight Number </th>
                <th> Departure Time </th>
                <th> Arrival Time </th>
                <th> Departure from </th>
                <th> Departure City </th>
                <th> Arrive at </th>
                <th> Arrival City </th>
                <th> Price </th>

            {% for line in flights %}
                <tr>
                    <td class="dept_flight">{{line['airline_name']}}</td>
                    <td class="dept_flight">{{line['flight_num']}}</td>
                    <td class="dept_flight">{{line['departure_time']}}</td>
                    <td class="dept_flight">{{line['arrival_airport']}}</td>
                    <td class="dept_flight">{{line['departure_airport']}}</td>
                    <td class="dept_flight">{{line['airport_airport']}}</td>
                    <td class="dept_flight">{{line['arrival_airport']}}</td>
                    <td class="dept_flight">{{line['B.airport_city']}}</td>
                    <td class="dept_flight">{{line['price']}}</td>


                </tr>
            {% endfor %}
            </table>

        {% if returnFlights %}
            <h2>Return Flights</h2>
            <table>

            {% for line in returnFlights %}
                <tr>
                    <td class="return_flight">{{line['airline_name']}}</td>
                    <td class="return_flight">{{line['flight_num']}}</td>
                    <td class="return_flight">{{line['departure_time']}}</td>
                    <td class="return_flight">{{line['arrival_time']}}</td>
                    <td class="return_flight">{{line['departure_airport']}}</td>
                    <td class="return_flight">{{line['airport_city']}}</td>
                    <td class="return_flight">{{line['arrival_airport']}}</td>
                    <td class="return_flight">{{line['B.airport_city']}}</td>
                    <td class="return_flight">{{line['price']}}</td>

                </tr>
            {% endfor %}
            </table>
        {% endif %}


        <a href="/purchaseTickets" class="option">Purchase Tickets</a>

        {% endif %}
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static',filename='js/script.js')}}"></script>
<script src="{{ url_for('static',filename='js/purchase.js')}}"></script>

{% endblock %}