{% extends 'layout.html' %} {% block body %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/staffHome">StaffHome</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
        </div>
    </nav>

{% if flight %}
<div class="content">
  <div class="title staff">Update the Following Flights:</div>
  <table id="flight_prev">
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Base Price</th>
    <th>Flight Status</th>
    <th>Departure from</th>
    <th>Arrive at</th>
    <th>Airplane id</th>
    <tr>
      <td class="flight_prev">{{flight["airline_name"]}}</td>
      <td class="flight_prev">{{flight['flight_num']}}</td>
      <td class="flight_prev">{{flight['departure_time']}}</td>
      <td class="flight_prev">{{flight['arrival_time']}}</td>
      <td class="flight_prev">{{flight['price']}}</td>
      <td class="flight_prev">{{flight['status']}}</td>
      <td class="flight_prev">{{flight['departure_airport']}}</td>
      <td class="flight_prev">{{flight['arrival_airport']}}</td>
      <td class="flight_prev">{{flight['airplane_id']}}</td>
    </tr>
  </table>

  <form
    class="update_flight"
    action="/updateFlight/{{flight['flight_num']}}#"
    method="POST"
  >
    <label for="status">Flight Status</label>
    <select name="statusSelect" id="status">
      <option value="on time">on time</option>
      <option value="delayed">delayed</option>
    </select>
    <input type="submit" value="Update" />
    <a href="/flightManage" class="back special">Back</a>
  </form>

  <script>
    {% if flight['flight_status'] == "on time" %}
    document.querySelector('#status').value = 'on time';
    {% else %}
    document.querySelector('#status').value = 'delayed';
    {% endif %}
  </script>
  {% endif %} {% if noFound %}
  <p class="noFound"><strong>Error:</strong> {{noFound}}</p>
  <a href="/flightManage">Go back to Flight Management</a>
  {% endif %}
</div>

{% endblock %}
