{% extends 'layout.html' %}


{% block body %}

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">StaffHome</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/staffHome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/flightManage">Flights Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/airSystemManage/airplane">Airplanes Management</a>
            </li>
              <li class="nav-item">
              <a class="nav-link active" href="/airSystemManage/airport">Airports Management</a>
            </li>
              <li class="nav-item">
              <a class="nav-link active" href="/flightManage">View Ratings</a>
            </li>
              <li class="nav-item">
              <a class="nav-link active" href="/report/topAgent">View Top Booking Agents</a>
            </li>
              <li class="nav-item">
              <a class="nav-link active" href="/report/topCustomer">View Top Customers</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" href="/report/salesReport/default">View Reports</a>
            </li>
             <li class="nav-item">
              <a class="nav-link active" href="/report/revenueCompare">Revenue Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/report/topDestination">Top Destination</a>
            </li>
              <li class="nav-item">
              <a class="nav-link active" href="/logout">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
        {% if passenger %}
        <div class="title staff"> Passenger's List for the Flight: </div>
        <h4> Airline Name: {{session["airline_name"]}} </h4>
        <h4> Flight Number: {{passenger[0]["flight_num"]}} </h4>
        <h4> Departure Time: {{passenger[0]["dept_time"]}} </h4> </br>

        <h4> Passenger Lists: </h4>

        <table id = "passenger_list">
                <th> Passenger's Email </th>
                <th> Passenger Name </th>
                <th> Purchase Time </th>
                <th> Actions </th>

            {% for line in passenger %}
            <tr>
                <td class="passenger_list">{{line['email']}}</td>
                <td class="passenger_list">{{line['name']}}</td>
                <td class="passenger_list">{{line["purchase_time"]}}</td>
                <td>
                    <a href = "/report/topCustomer/{{line['email']}}"> Flights History</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if noFound %}
        <p class="noFound"><strong>Error:</strong> {{noFound}}</p>
        {% endif %}

        <a href='/flightManage' style="margin-top: 20px; display: inline-block;">Go back to Flight Management</a>
    </div>


    <script src="{{ url_for('static',filename='js/script.js')}}"></script>
{% endblock %}
