{% extends 'layout.html' %} {% block body %} {%if role == 'agent' %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AgentHome</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/agentHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/viewMyFlights">view flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/purchaseTickets"
            >Purchase Tickets</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/searchForFlights"
            >Searching Flights</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/commission">View My Comission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/topCustomers">Top Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% else %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CustomerHome</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/customerHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewMyFlights">View My Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/searchForFlights">Search for Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trackMySpending">Track My Spending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endif %}

<div class="content">
  <div class="title">upcoming Flights</div>
  <table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Price</th>
    {% for line in flights %}
    <tr>
      <td>{{line['airline_name']}}</td>
      <td>{{line['flight_num']}}</td>
      <td>{{line['departure_time']}}</td>
      <td>{{line['arrival_time']}}</td>
      <td>{{line['price']}}</td>
    </tr>
    {% endfor %}f
  </table>
</div>

{% endblock %}
