{% extends 'layout.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topBar">
    <div class="logo">You are now viewing  flights!</div>
</div>

<div class="line"></div>
<div class="container">
    {%if role == 'agent' %}
    <div class="sidebar">
        <a href="/agentHome" class="option">Home</a>
        <a href="/viewMyFlights" class="option">View My Flights</a>
        <a href="/searchForFlights" class="option">Search for Flights</a>
        <a href="/commission" class="option">View My Comission</a>
        <a href="/topCustomers" class="option">Top Customers</a>
        <a href="/logout" class="option">Log out</a>
    </div>
    {% else %}
    <div class="sidebar">
        <a href="/customerHome" class="option">Home</a>
        <a href="/viewMyFlights" class="option">View My Flights</a>
        <a href="/searchForFlights" class="option">Search for Flights</a>
        <a href="/trackMySpending" class="option">Track My Spending</a>
        <a href="/logout" class="option">Log out</a>
    </div>
    {% endif %}


    <div class="content">
        <div class="title">upcoming Flights</div>
        <table>
            <th> Airline Name </th>
            <th> Flight Number </th>
            <th> Departure Time </th>
            <th> Arrival Time </th>
            <th> Price </th>
            {% for line in flights %}
            <tr>
                <td>{{line['airline_name']}}</td>
                <td>{{line['flight_num']}}</td>
                <td>{{line['departure_time']}}</td>
                <td>{{line['arrival_time']}}</td>
                <td>{{line['price']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}